@CHARSET "UTF-8";

#mypage {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 1140px;
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 11pt;
}



table {
	height: 210px;
	width: 210px;
	vertical-align: middle;
}

td {
	padding-left: 10px;
	vertical-align: middle;
}

.box {
  display: inline-block;
  padding: 5px;
  width: 220px;
  height: 220px;
  margin: 1em;
  border: 1px solid;
}

.font {
	color: #351f66;
	font-weight: bold;
	font-size: 13pt;
}

.right{
	float: right;
}

.box2 {
	width: 660px;
	border: 5px solid;
	border-color: #7A67AC;
	vertical-align: middle;
}

.title{
	font-weight: bold;
	font-size: 13pt;
}

.title2{
	font-weight: bold;
	font-size: 16pt;
}

.nav_gnb{margin:0;padding:0;clear: right;}
.nav_gnb li{margin:0;padding:0 10px;list-style:none;float:left;}
.nav_gnb li a{text-decoration: none;display:block;overflow: hidden;}        
.nav_gnb li a img{width:60px;height:60px;padding-right:20px;float:left;}
.nav_gnb li a span{line-height: 60px;display:inline-block;float:left;}

.btn1 {
	border-style: none;
	height: 25px;
	width: 70px;
	margin-top: 0px;
	background-color: #351f66;
	color: #ffffff;
	font-weight: bold;
}

.btn2 {
	border-style: none;
	height: 25px;
	width: 110	px;
	margin-top: 0px;
	background-color: #351f66;
	color: #ffffff;
	font-weight: bold;
}

a:link {text-decoration: none; color: grey;}
a:visited {text-decoration: none; color: grey;}
a:active {text-decoration: none; color: grey;}
a:hover {text-decoration: none; color: #351f66;}

.tab {
	width: 110px;
	height: 40px;
	list-style: none;
	line-height: 35px;
	text-align: center;
	display: block;
    border: 1px solid #e1e1e1;
    padding: 0 15px;
    float: left;
}

.img-circle {
  border-radius: 50%;
}

.bookedList {
	font-size: 13px;
}

.myMovie{
	font-size: 14px;
	color: #333;
	font-weight: bold;
	line-height: 16px;
}

.info{
	width: 1000px;
	vertical-align: middle;
	font-size: 13px;
}
.info td {
	height:35px ;
	text-align:left;
	border-bottom: 1px solid #dcdcdc;
}

.info td span {
	line-height: 30px; 
	vertical-align: middle;
}

.info th {
	height:30px ;
	text-align:left;
	vertical-align: middle;
	font-weight: bold;
    border-bottom: 2px solid #351f66;
}

.btn3{
	border-style: none;
	border: 1px solid #351f66;
	height: 50px;
	width: 100px;
	margin-top: 0px;
	background-color: #fff;
	color: #351f66;
	font-weight: bold;
	font-size: 18px;
}

.btn4{
	border-style: none;
	border: 1px solid #351f66;
	height: 50px;
	width: 100px;
	margin-top: 0px;
	background-color: #351f66;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.radius {
	border: 1px solid #666; 
	border-radius: 70px; 
	-moz-border-radius: 70px; 
	-khtml-border-radius: 70px; 
	-webkit-border-radius: 70px;
}

.btn5{
	border-style: none;
	border: 1px solid #CCCCCC;
	height: 25px;
	width: 90px;
	margin-top: 2px;
	background-color: #fff;
	font-size: 10pt;
	color: #666;
}

.filebox label { 
	display: inline-block; 
	height: 25px;
	width: 90px; 
	color: #999; 
	font-size: 10pt; 
	color: #666;
	vertical-align: middle; 
	line-height:20px ;
	background-color: #fdfdfd; 
	cursor: pointer; 
	border: 1px solid #CCCCCC;
} 

.filebox input[type="file"] 
{ /* 파일 필드 숨기기 */ 
	position: absolute;
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}

.detail{
	width: 500px;
	vertical-align: middle;
	font-size: 13px;
}
.detail td {
	height:35px ;
	text-align:left;
	border-bottom: 1px solid #dcdcdc;
	padding-left: 20px;
}

.detail td span {
	line-height: 30px; 
	vertical-align: middle;
}

.detail th {
	height:30px ;
	text-align:left;
	vertical-align: middle;
	font-weight: bold;
    border-bottom: 2px solid #351f66;
}

#detailPage {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 20px;
	width: 750px;
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 11pt;
}


