#title{
	width: 1000px;
	margin: 0 auto;
	background-color:  #F2F2F2;
	border-bottom: 3px solid #503396;
	height: 50px;
	margin-top: 25px;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #503396;
	
}


#register {
	width: 1000px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom: 50px;
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 11pt;
}


table {
	height: 150px;
	width: 210px;
	vertical-align: middle;
}

td {
	vertical-align: middle;
}

.box {
  display: inline-block;
  padding: 5px;
  width: 220px;
  height: 220px;
  margin: 1em;
  border: 1px solid;
}

.font {
	color: #351f66;
	font-weight: bold;
}

.right{
	float: right;
}

.box2 {
	width: 660px;
	border: 5px solid;
	border-color: #7A67AC;
	vertical-align: middle;
}

.title{
	font-weight: bold;
	font-size: 13pt;
}

.title2{
	font-weight: bold;
	font-size: 16pt;
}

.nav_gnb{margin:0;padding:0;clear: right;}
.nav_gnb li{margin:0;padding:0 10px;list-style:none;float:left;}
.nav_gnb li a{text-decoration: none;display:block;overflow: hidden;}        
.nav_gnb li a img{width:60px;height:60px;padding-right:20px;float:left;}
.nav_gnb li a span{line-height: 60px;display:inline-block;float:left;}

.btn1 {
	border-style: none;
	height: 25px;
	width: 70px;
	margin-top: 0px;
	background-color: #351f66;
	color: #ffffff;
	font-weight: bold;
}

.btn2 {
	border-style: none;
	height: 25px;
	width: 110	px;
	margin-top: 0px;
	background-color: #351f66;
	color: #ffffff;
	font-weight: bold;
}

a:link {text-decoration: none; color: grey;}
a:visited {text-decoration: none; color: grey;}
a:active {text-decoration: none; color: grey;}
a:hover {text-decoration: none; color: #351f66;}

.tab {
	width: 80px;
	height: 35px;
	list-style: none;
	line-height: 35px;
	text-align: center;
	display: block;
    border: 1px solid #e1e1e1;
    padding: 0 25px;
    float: left;
}

.img-circle {
  border-radius: 50%;
}

.bookedList {
	font-size: 13px;
}

.myMovie{
	font-size: 14px;
	color: #333;
	font-weight: bold;
	line-height: 16px;
}

.info{
	width: 1000px;
	vertical-align: middle;
	font-size: 13px;
}
.info td {
	height:35px ;
	text-align:left;
	border-bottom: 1px solid #dcdcdc;
}

.info th {
	line-height:35px;
	text-align:left;
	vertical-align: middle;
	font-weight: bold;
    border-bottom: 2px solid #351f66;
}